<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="file" onchange="getURL(this)">
<script>
 async function getURL(e){
    let file = e.files[0]
    let name = encodeURIComponent(file.name)
    let result = await fetch('/presignedurl?filename=' + name)
    result = await result.text()
    let 결과 = await fetch(result, {
      method: 'PUT',
      body: e.files[0]
    })
    console.log(결과.url.split("?")[0])
  }
</script>
</body>
</html>